.resultbody {
    padding: calc(7px + 1vh);
    width: 80vw;
    min-width: 250px;
    border: black solid 2px;
    min-height: 240px;
    margin-bottom: 3rem;
    background-color: #f8f6f65a;
    border-radius: 3rem;
    position: relative;

}

.row1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 8rem;
    background-color: rgba(63, 63, 63, 0.452);
    border-radius: 3rem;
}

.row1 img {
    float: left;
    border-radius: 2rem;
    width: calc(320px + 20vw);
    height: calc(180px+10vw);
    object-fit: cover;
    max-width: 400px;
    margin: 1rem;
}

.row1 h2 {
    font-size: 1.6em;
    font-weight: 800;
    padding: 1.5rem;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width:850px) {
    .row1 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .row1 img {
        width: calc(120px + 50vw);
        margin: 0
    }

    .row1 h2 {
        padding: 1.5rem 2rem;
    }
}

@media screen and (max-width:400px) {
    .row1 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .row1 img {
        width: calc(120px + 32vw);
        margin: 0
    }

    .row1 h2 {
        padding: 1.5rem 2rem;
        font-size: 1.3em;
        font-weight: 500;
    }
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
    background-color: rgba(17, 16, 16, 0.452);
    border: #000000 solid 1px;
    padding: 2rem 4rem;
    flex-flow: row wrap;
    gap: 2rem;
    flex-grow: calc(3vh);
}

@media screen and (max-width:1330px) {
    .row2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 3rem 0;
        background-color: rgba(17, 16, 16, 0.452);
        border: #000000 solid 1px;
        padding: 2rem 0;
        flex-flow: row wrap;
        gap: 2rem;
        flex-grow: calc(3vh);
    }
}

.Alert {
    position: absolute;
}



@keyframes ldio-ucij0jb0008 {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-ucij0jb0008 div {
    left: 93.22px;
    top: 63.72px;
    position: absolute;
    animation: ldio-ucij0jb0008 linear 1s infinite;
    background: #fe718d;
    width: 49.559999999999995px;
    height: 14.16px;
    border-radius: 12.389999999999999px / 7.08px;
    transform-origin: 24.779999999999998px 54.279999999999994px;
}

.ldio-ucij0jb0008 div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9375s;
    background: #fe718d;
}

.ldio-ucij0jb0008 div:nth-child(2) {
    transform: rotate(22.5deg);
    animation-delay: -0.875s;
    background: #f47e60;
}

.ldio-ucij0jb0008 div:nth-child(3) {
    transform: rotate(45deg);
    animation-delay: -0.8125s;
    background: #f8b26a;
}

.ldio-ucij0jb0008 div:nth-child(4) {
    transform: rotate(67.5deg);
    animation-delay: -0.75s;
    background: #abbd81;
}

.ldio-ucij0jb0008 div:nth-child(5) {
    transform: rotate(90deg);
    animation-delay: -0.6875s;
    background: #849b87;
}

.ldio-ucij0jb0008 div:nth-child(6) {
    transform: rotate(112.5deg);
    animation-delay: -0.625s;
    background: #6492ac;
}

.ldio-ucij0jb0008 div:nth-child(7) {
    transform: rotate(135deg);
    animation-delay: -0.5625s;
    background: #637cb5;
}

.ldio-ucij0jb0008 div:nth-child(8) {
    transform: rotate(157.5deg);
    animation-delay: -0.5s;
    background: #6a63b6;
}

.ldio-ucij0jb0008 div:nth-child(9) {
    transform: rotate(180deg);
    animation-delay: -0.4375s;
    background: #fe718d;
}

.ldio-ucij0jb0008 div:nth-child(10) {
    transform: rotate(202.5deg);
    animation-delay: -0.375s;
    background: #f47e60;
}

.ldio-ucij0jb0008 div:nth-child(11) {
    transform: rotate(225deg);
    animation-delay: -0.3125s;
    background: #f8b26a;
}

.ldio-ucij0jb0008 div:nth-child(12) {
    transform: rotate(247.5deg);
    animation-delay: -0.25s;
    background: #abbd81;
}

.ldio-ucij0jb0008 div:nth-child(13) {
    transform: rotate(270deg);
    animation-delay: -0.1875s;
    background: #849b87;
}

.ldio-ucij0jb0008 div:nth-child(14) {
    transform: rotate(292.5deg);
    animation-delay: -0.125s;
    background: #6492ac;
}

.ldio-ucij0jb0008 div:nth-child(15) {
    transform: rotate(315deg);
    animation-delay: -0.0625s;
    background: #637cb5;
}

.ldio-ucij0jb0008 div:nth-child(16) {
    transform: rotate(337.5deg);
    animation-delay: 0s;
    background: #6a63b6;
}

.loadingio-spinner-spinner-bglmvp8a12i {
    width: 236px;
    height: 236px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-ucij0jb0008 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-ucij0jb0008 div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */

.spinner {
    margin: 2rem 35vw;
}