/* calc(10px + 2vmin) */
.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: calc(18px + 25vh);
  position: relative;
}

.section-margins {
  margin: 5rem calc(24px + 12.5vw) 3rem calc(24px + 12.5vw);
}

.main-app h1 {
  font-size: 2rem;
  text-shadow: 5px 5px black;

}